<app-event-form (createEvent)="addEvent($event)" ></app-event-form>
<div class="row">
  <div class="col-lg-8 col-sm-offset-1">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody>

      //looping through the modelEvents
      <tr *ngFor="let event of modelEvents">
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td>{{event.location}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

