.event-list-container {
    padding: 25px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.event-list-card-container {
    position: relative;
}

.event-list-control-btns {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.event-list-edit-btn {
    margin: 0 5px;
}

