<form class="row g-3" [formGroup]="eventForm" (ngSubmit)="add()"  >

  <div class="col-md-3">
    <label for="validationCustom01" class="form-label">Title</label>
    <input type="text"  class="form-control"  id="validationCustom01" formControlName="title" required>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Description</label>
    <textarea type="text" class="form-control" id="exampleFormControlTextarea1" formControlName="description" rows="3"></textarea>
  </div>
  <div class="col-md-5">
    <label for="validationCustom01" class="form-label">Location</label>
    <input type="text"  class="form-control"  id="validationCustom03" formControlName="location" required>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid">
      Add Event</button>
  </div>

  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger" >
    <div *ngIf="title.errors?.['required']" >
        Title is required
    </div>
    <div *ngIf="title.errors?.['minlength']">
      Title must be at least 3 characters
    </div>
    <div *ngIf="title.errors?.['pattern']">
      Only letters and numbers are allowed
    </div>
  </div>
  <div *ngIf="description.errors?.['required'] && !description.pristine" class="alert alert-danger">
      Description is required
  </div>
  <div *ngIf="location.errors?.['required'] && !location.pristine" class="alert alert-danger">
    Location is required
  </div>
</form>

